@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cedarville+Cursive&family=Monsieur+La+Doulaise&family=Nothing+You+Could+Do&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f3ed;
  overflow-x: hidden;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}